.main-register {
    @include access;
    &__create-btn {
        @extend .main-register__social-btn;
    }
}

.custom-height {
    height: 50px !important;
    font-size: 1.5rem;
    color: $text-color;
    padding: 8px 12px;
    border-radius: 4px !important;
}

.input-group-text {
    font-size: 1.5rem;
    padding: 8px 12px;
}

.custom-control-label {
    &::before,
    &::after {
        top: 4px;
        width: 16px;
        height: 16px;
    }
}