.main-header {
    background-color: $white;
}

.header-head {
    background-color: $white;
    padding-top: 1rem;
    &__item {
        margin: 0 1.2rem;
        &-link {
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
}

.langP {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    width: 160px;
    cursor: pointer;
    & i {
        font-size: 1.3rem;
    }
}

.header-foot {
    padding: 1.6rem 0;
    
    &__logo-link {
        display: block;
        -webkit-tap-highlight-color: transparent;
    }

    &__search-wrap {
        width: 50%;

        .header-foot__search {
            width: 90%;
            height: 3.8rem;
            line-height: 3.8rem;
            border: 1px solid $text-color;
            border-right: none;
            padding: 4px 16px;

            &:focus {
                outline: 3px solid #BFDEFF;
                outline-offset: 0.5px;
            }
        }

        .header-foot__search-btn {
            height: 3.8rem;
            width: 4.1rem;
            background-color: transparent;
            border: none;
            border: 1px solid $text-color;
            border-left: none;
            transition: all 200ms ease;

            &:hover {
                background-color: #6C757D;
                color: $white;
            }
        }
    }

    &__account {
        width: 20rem;
        height: 4.5rem;
        background-color: #FBFBFB;
        border: 1px solid #919191;
        border-radius: 10px;
        line-height: 4.5rem;
        text-align: center;
        user-select: none;

        & i {
            margin-right: 4px;
        }
    }

}

.header-navbar {
    $height: 48px;
    height: $height;
    background-image: linear-gradient(to bottom,#4A4A4B, #323232);

    &__item {
        position: relative;
        height: $height;
        line-height: $height;
        color: rgba(255, 255, 255, 0.9);
        font-size: 1.6rem;  
        text-align: center;
        min-width: 180px;
        cursor: default ;
        user-select: none;

        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 18px;
            background-color: rgba(255, 255, 255, 0.5);
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &:last-child::after {
            display: none;
        }
    }

    &__dropdown-header__img {
        width: 40px;
        padding-bottom: 4px;
    }

    &__dropdown-item__img {
        width: 25px;
        margin-right: 4px;
    }
}